form {
  display: flex;
  flex-direction: column;
}

.form-container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  font-family: content-font;
  overflow-y: auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &::-webkit-scrollbar {
    width: 0;
  }

  // styling the form header
  & > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chevron {
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &.expanded {
      transform: rotate(-180deg);
    }

    &.collapsed {
      transform: rotate(0deg);
    }
  }

  button {
    width: 6rem;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e2e2e2;
    border-style: none;
    align-self: center;

    &:hover {
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(80%);
    }
  }

  h1,
  h2 {
    font-family: title-font;
  }

  & > div,
  & > h1 {
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 8px;
    background-color: white;
    padding: 0.9rem;
    border-radius: 0.4rem;
  }

  // styling the content inside form
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }
}

label {
  display: block;
  font-family: title-font;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  margin-bottom: 1rem;

  span {
    margin-left: 0.4rem;
    font-size: 0.8rem;
    color: gray;
  }

  input,
  textarea {
    border-radius: 5px;
    height: 1.2rem;
    padding: 4px;
    font-size: 0.9rem;
    border: 1px solid #e5e7eb;
    background-color: white;

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      outline: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid black;
    }

    &::placeholder {
      opacity: 50%;
    }
  }

  textarea {
    height: 3rem;
  }
}
