.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 8px;
    border-radius: 5px;
    color: black;
    font-family: content-font;
    padding: 20px;
    height: 90%;
    min-width: 700px;
    position: sticky;

    h1,
    h2 {
      font-family: title-font;
    }
  }
}
