.resume-container {
  display: flex;
  justify-content: center;
  padding: 1rem;

  & > div {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 8px;
    border-radius: 5px;
    color: black;
    font-family: content-font;
    height: 90%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h1,
    h3 {
      font-family: title-font;
    }
  }

  .resume-header {
    background-color: #0e374e;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .section-name {
      display: flex;
      flex-direction: row;
      gap: 8px;
      font-family: title-font;
      font-size: 2.5rem;
    }

    .section-contact {
      display: flex;
      flex-direction: row;
      gap: 15px;
      font-size: 1.2rem;

      & > p {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }

  .resume-education,
  .resume-workexp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    text-align: center;
    font-size: 1.1rem;

    h3 {
      background-color: #ededed;
      padding: 10px 0;
    }

    h3,
    .section-education,
    .section-workexp {
      width: 100%;
    }

    // styling section content
    .section-education,
    .section-workexp {
      display: flex;
      padding: 10px 0;
      gap: 50px;
      text-align: left;

      div:nth-child(2) > p:nth-child(1) {
        font-weight: bolder;
        font-family: title-font;
        font-size: 1.2rem;
      }
    }
  }
}
